<%- include("partials/header"); -%>



<div class="container">

  <div class="form-row justify-content-center">
    <form class="form align-form" onsubmit="return validate()" method="post" action="/test">

        <nav class="navbar navbar-expand-lg navbar-light d-flex align-items-end" style="background-color: #e3f2fd;">
          <a class="navbar-brand" href="#"><img class="logo-img" src="/image/logo.jpg"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav" >
              <li class="nav-item active">
                <a class="nav-link" href="#">Create <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Modify</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Delete</a>
              </li>
            </ul>
          </div>
        </nav>
     
      <div class="form-row">
        <div class="form-group col-12 d-flex justify-content-center">
          <h1 class="myheader">--- Reservation ---</h1>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" name="name" placeholder="please enter name">
        </div>

        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" name="email" placeholder="email">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="arrival">Arrival Date</label>
          <input type="date" class="form-control" id="arrival" name="arrival" onclick="myfunc()">
        </div>
        <div class="form-group col-md-3">
          <label for="departure">Departure Date</label>
          <input type="date" class="form-control" id="departure" name="departure" placeholder="departure date">
        </div>
        <div class="form-group col-md-3">
          <label for="rate">Rate (£) / night</label>
          <input type="number" id="rate" class="form-control" name="rate" placeholder="rate / night">
        </div>
        <div class="form-group col-md-3">
          <label for="confirmation">Confirmation number</label>
          <input type="text" id="confirmation" class="form-control" name="confirmation"
            placeholder="confirmation number">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="type">Apartment Type</label>
          <select id="type" name="apartmentType" class="form-control">
            <option value=""></option>
            <option>One Bedroom Apartment</option>
            <option>Two Bedroom Apartment</option>
            <option>Three Bedroom Apartment</option>
            <option>Superior Three Bedroom Apartment</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="cxl">Cancellation Policy</label>
          <select id="cxl" name="cancellation" class="form-control">
            <option value=""></option>
            <option>14 days</option>
            <option>28 days</option>
            <option>Non Refundable</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="numAdults">Number of Adults</label>
          <input type="number" id="numAdults" class="form-control" name="numAdults" placeholder="number of adults">
        </div>
        <div class="form-group col-md-3">
          <label for="numChildren">Number of Children</label>
          <input type="number" id="numChildren" class="form-control" name="numChildren" min=0
            placeholder="number of children">
        </div>
        <div class="form-group col-md-1"> OR </div>
        <div class="form-group col-md-5 align-self-center">
          <label for="occ">Maximum Occupancy</label>
          <input type="number" id="occ" class="form-control" name="maxOcc" style="width:20%; display:inline;"> Guests
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12">
          <label for="comment">Comment</label>
          <textarea class="form-control" id="comment" rows="3" name="comment"></textarea>
        </div>
      </div>

      <div class="form-row">
        <button class="btn btn-lg btn-block btn-primary" type="submit">Submit</button>
      </div>

    </form>
  </div>
</div>


<%- include("partials/footer"); -%>
