<%- include("partials/header"); -%>

<!-- <div class="container container-style">
    <div class="row">
        <div class="col">
            <img class="logo-img rounded mx-auto d-block" src="">
        </div>
    </div> -->

<table>
    <tr>
        <td><%= today %></td>
    </tr>

</table>
    <div class="row">
        <div class="col-sm" style="background-color: grey;">
            <p style="color:blue;">Dear <%= name %></p>
            <p>Thank you for your booking at Monarch House Apartments. Here are all your reservation details:</p>
        </div>
    </div>
    
</div>